
.hero h1 {
  color: #111827;
  font-size: 62px;
  font-weight: 800;
  line-height: 1.1;
  padding-bottom: 15px;
}

.hero span {
  color: #0d6efd;
}

.hero p {
  margin-top: 25px;
  color: #5b6470;
  font-size: 20px;
  line-height: 30px;
}

.security-box {
  background: #ffffffa6;
  border-radius: 18px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 18px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, .08);
}

.security-box svg {
  font-size: 34px;
  color: #0d6efd;
}

.security-box h6 {
  margin: 0;
  font-weight: 700;
}

.security-box small {
  color: #777;
}


.logo-container{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding: 60px;
  height: 100vh;
}