.layout {
  min-height: 100vh;
}

/* MAIN */
.main {
  margin-left: 260px;

  min-height: 100vh;

  background: #f8fafc;

  transition: margin-left 0.3s ease;
}

/* SIDEBAR COLLAPSED */
.main.expanded {
  margin-left: 80px;
}

/* CONTENT */
.content {
  padding: 20px;

  padding-top: 90px;

  min-height: 100vh;

  box-sizing: border-box;
}